.container-ItemCount{
    width: 150px;
    display: flex;
    flex-direction: column;
    
}



.\restar-sumar {
    text-decoration: none;
    
}

.\button-agregar{
    
    background-color: blue;

}

